/* Theme Colors */
:root {
    --off-black: #311508;
    --off-white: #f3f4ee;
    --black-olive: rgba(63, 64, 47, 1);
    --light-green: rgba(191, 185, 101, 1);
    --dark-green: rgba(140, 136, 74, 1);
    --limesicle: rgba(242, 239, 189, 1);
    --gray15: rgba(38, 38, 38, 1);
}



/* @media screen and (min-width: 108rem) and (orientation: landscape) {
    html {
        font-size: 1vw;
    }
} */

body {
    // Since html { font-size: 100%; } 1.25rem is 20px
    // If we need to scale down for responsive breakpoints we use a
    // body declaration in a @media query to set to different rem size.
    // If we need to scale up for very large or very wide screens we can
    // scale up the html font-size to something proportional to the screen
    // for that @media query.
    font-size: 1.25rem;
    line-height: 1.4;
}

/* Bulma assigns a color to strong for some reason? */
strong {
    color: inherit;
}

/*
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *  contenteditable attribute is included anywhere else in the document.
 *  Otherwise it causes space to appear at the top and bottom of elements
 *  that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 * `:before` to contain the top-margins of child elements.
 */
 #content .container .content:before,
 #content .container .content:after,
 .clearfix:before,
 .clearfix:after {
   content: " "; /* 1 */
   display: table; /* 2 */
 }
 
 #content .container .content:after,
 .clearfix:after {
   clear: both;
 }
 
 /*
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  #content .container .content,
 .clearfix {
   zoom: 1;
 }

 /* Clear header for anchors */
 /* :target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
} */
 
 /*
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  #content .container .content,
 .clearfix {
   zoom: 1;
 }

 /* Clear header for anchors */
 :target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}


q-modal {
    background-color: $desat-blue;
}


/* :lang(ja) {
    font-family: "Zen Kaku Gothic New", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    font-feature-settings: normal;
    word-break: keep-all;
    font-style: normal !important;
} */
  
/* h1 :lang(ja), h2 :lang(ja), h3 :lang(ja) {
    font-size: 0.9em;
    line-height: 1.555555em;
} */

.quire-page h2,
.quire-page h3 {
    font-style: normal;
}

h1 > * {
    display: inherit;
}
h1 > em {
    display: inline;
}


.q-figure.q-figure--image.inline {
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px dotted rgb(142, 95, 127);
}
.q-figure.q-figure--image.inline .q-figure__modal-link {
    display: inline;
    line-height: inherit;
    color: rgb(142, 95, 127);
}
.q-figure.q-figure--image.inline img {
    display: none;
}
a.q-figure__modal-link.onhover {
    
}

.q-figure.q-figure--image .q-figure__credit {
    display: none;
}


.q-figure--group {
    &.break-grid {
        width: 95vw;
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
    }
}

.quire-page__header .hero-body .quire-page__header__title .separator {
    display: none;
}
.quire-page__header .hero-body .quire-page__header__title .subtitle {
    font-size: 2rem;
}
.quire-page__header__contributor {
    margin-top: 0;
}
.quire #main {
    background-color: #fff;
}



/* Navbar */

.quire-navbar h1 {
    color: #fff;
    font-size: 22px !important;
    padding: 10px 0 10px 10px;
    line-height: 1;
}

.quire:not(.no-js) .quire__secondary.is-expanded + .quire__primary {
    transform: none;
}
.quire:not(.no-js) .quire__primary .quire-navbar {
    min-height: 4.375rem;
}
.quire-navbar-controls {
    line-height: 4.375rem;
    height: 4.375rem;
}
.quire-navbar-page-controls__item {
    max-height: 4.375rem;
}
.quire:not(.no-js) .quire__secondary {
    top: 4.375rem;
}
.quire-navbar a {
    color: #ffffff !important;    
}
.quire-navbar a span.nav-text {
    color: #ffffff !important;
    font-weight: 500;
}
.quire-navbar svg {
    fill: #ffffff;
}
.quire-navbar-controls__left {
    display: flex;
    align-self: center;
    flex: 1 1 300px;
    max-width: 300px;
    min-width: 130px;
}
.quire-navbar-controls__left .logos {    
    display: flex;
    flex-direction: row;
    align-self: center;
    line-height: 1;
    padding-left: 20px
    /* justify-content: space-evenly; */
}
.quire-navbar-controls__left .logos a:hover {
    background-color: transparent;
}
.quire-navbar-controls__left .logos a {
    padding: .25rem 0 0;
}
.quire-navbar-controls__left .logos img {
    max-width: 80%;
}
.quire-navbar-controls .quire-navbar-controls__center {
    flex: 1 1 auto;
}
.quire-navbar-controls__right {
    display: flex;
    -webkit-box-flex: 0;
    flex: 1 1 300px;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}
.quire-navbar-controls__right button {
    height: auto;
    width: auto;
    border: none;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    margin-right: 15px;
    cursor: pointer;
    background-color: lighten($quire-navbar-color, 15%);
}
.quire-navbar-controls__right button svg {
    height: calc(4.375rem * .65);
    width: calc(4.375rem * .65);
    max-height: 1rem;
    max-width: 1rem;
    vertical-align: middle;
    margin-top: 2px;
}
.quire-navbar-controls__right button > * {
    position: static;
    display: inline;
    color: #ffffff;
}

.quire-search__close-button {
    right: 0;
    left: auto;
}
.quire-navbar-controls .quire-navbar-page-controls {
    flex-direction: row;
}
.quire-navbar-controls .quire-navbar-page-controls > * {
    flex-direction: row;
}
.quire-navbar-controls .quire-navbar-page-controls__item a {
    transition: none;
}

.quire-navbar-page-controls__item.quire-previous-page,
.quire-navbar-page-controls__item.quire-next-page {
    min-width: 20rem;
}
.quire-navbar-page-controls__item.quire-previous-page {
    text-align: right;
    /* flex-direction: row;
    flex: 0 1 50rem; */
}
/* .quire-navbar-page-controls__item.quire-previous-page a {
    text-align: left;
} */
/* .quire-navbar-page-controls__item.quire-home-page {
    flex-direction: row;
    flex: 1 0 6rem;
} */
.quire-navbar-page-controls__item.quire-next-page {
    text-align: left;
    /* flex-direction: row;
    flex: 0 1 50rem; */
}
/* .quire-navbar-page-controls__item.quire-next-page a {
    text-align: right;
} */

/* .quire-contents-buttons ul {
    visibility: hidden;
} */
/* .quire-contents-buttons:hover ul {
    visibility: visible;
} */
.quire-contents-buttons li.quire-nav-button:empty,
.quire-contents-buttons li.quire-nav-button:empty:hover {
   border: none; 
   background-color: transparent;
}
.quire-contents-buttons li.quire-nav-button.prev:hover a {
    color: #fff;
}
.quire-contents-buttons li.quire-nav-button.prev:hover svg {
    fill: #fff;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    display: inline-block;
    /* width: 9.25em; */
    height: 2.9em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-size: 1rem;
    border: 1px solid $nav-button-blue;
    background-color: transparent;
}
.button:hover {
    background-color: $accent-color;
    border-color: $accent-color;
}
.button:hover a {
    color: #fff;
}
.button a {
    color: $nav-button-blue;
    display: inline-block;
    width: 8.75em;
    height: 3.25em;
    margin-top: 0;
    padding-top: 0.2em;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.button span.button-title {
    vertical-align: super;
}



.quire-menu__header .quire-menu__header__contributors {
    display: none;
}

.quire-progress-bar {
    display: none;
}

.quire-cover__more .hero-more.next-page {
    transform: rotate(-90deg);
}
.quire-cover__more .hero-more svg {
    width: 54px;
    height: 54px;
}

.quire-page__header.hero__image {
    margin-bottom: 60px !important;
}
.quire-page__header.hero__image .hero-credit-icon:after {
    display: none;
}
.quire-page__header.hero__image .hero-credit {
    display: block;
    color: #000;
    position: absolute;
    bottom: -46px;
    left: 20px;
}


/* Page headers */
@media screen and (min-width: $desktop) {
    #page-introduction, #page-early-life, #page-american-art-education,
    #page-california, #page-wwii-amache, #page-legacy {
      .quire-page__header.hero {
        background-image: linear-gradient(180deg, rgba(246,239,223,0) 30%, rgb(246, 239, 223) 90%), url('/_assets/images/header-background/bg01.jpg');
        background-size: cover;
      }
    }
    #page-spw-essay {
      .quire-page__header.hero {
        background-image: linear-gradient(180deg, rgba(246,239,223,0) 15%, rgb(246, 239, 223) 90%), url('/_assets/images/header-background/bg02.jpg');
        background-size: cover;
      }
    }
  }

/* Page Layout */

.quire-page {
    min-height: calc(100vh - 4.375rem - 2px);
}

.quire-page--list.quire-contents .section.quire-page__content .container {
    max-width: 1400px;
    width: 1400px;
}

article.quire-page .quire-page__content .container
article.quire-page--full-width .quire-page__content .container,
article.quire-page--left-column .quire-page__content .container,
article.quire-page--right-column .quire-page__content .container {
    max-width: 1400px;
    width: 1400px;
}
article.quire-page--left-column .quire-page__content .container .content > p,
article.quire-page--right-column .quire-page__content .container .content > p,
article.quire-page--left-column .quire-page__content > figure,
article.quire-page--right-column .quire-page__content > figure {
    max-width: 70%;
    width: 70%;
}
article.quire-page--left-column .quire-page__content .container .content blockquote,
article.quire-page--right-column .quire-page__content .container .content blockquote {
    max-width: 60% !important;
    width: 60% !important;
}

article.quire-page__content .container .content > .full-width,
article .quire-page__content .container .content > figure.full-width {
    margin-left: calc( -100vw / 2 + 100% / 2 + 50px );
    margin-right: calc(-100vw / 2 + 100% / 2 - 50px );
    max-width: calc( 100vw - 100px );
    width: auto;
    max-width: auto;
    clear: both;
    margin-bottom: 1.4em;
}
.quire-page__content .container .content .pull-quote {
    font-size: 2.2rem;
    margin-left: calc( -100vw / 2 + 100% / 2 + 150px );
    margin-right: calc(-100vw / 2 + 100% / 2 - 150px );
    padding: 40px;
    max-width: calc( 100vw - 300px );
    width: auto;
    max-width: auto;
    clear: both;
    margin-bottom: 1.4em;
    animation: fadeIn 5s;
}
.quire-page__content .container .content .pull-quote p {
    line-height: 1;
}

article .quire-page__content .container .content > .threefourths-width,
article .quire-page__content .container .content > figure.threefourths-width
article .quire-page__content .container .content > .threefourths-width,
article .quire-page__content .container .content > figure.threefourths-width {
    /* margin-left: calc( -50vw / 2 + 50% / 2 + 50px );
    margin-right: calc(-50vw / 2 + 50% / 2 - 50px ); */
    max-width: calc( 75vw - 100px );
}
article .quire-page__content .container .content > .half-width,
article .quire-page__content .container .content > figure.half-width {
    /* margin-left: calc( -50vw / 2 + 50% / 2 + 50px );
    margin-right: calc(-50vw / 2 + 50% / 2 - 50px ); */
    max-width: calc( 50vw - 100px );
}
.quire-page__content .container .content > .centered {
    margin-left: auto;
    margin-right: auto;
}
article .quire-page__content .container .content > figure.float {
    float: left;
}

article.quire-page--left-column .quire-page__content .container .content figure.right-column {
    float: right;
    max-width: 500px;
    width: 30%;
    clear: right;
    padding-left: 10px;
}

article.quire-page--right-column .quire-page__content .container .content figure.left-column {
    float: left;
    right: 0;
    max-width: 500px;
    width: 30%;
    clear: left;
    padding-left: 10px;
}


article.quire-page--left-column .quire-page__content .container .content .is-pulled-left {
    width: 30%;
}
article.quire-page--right-column .quire-page__content .container .content .is-pulled-right {
    width: 30%;
}

.content figure.hidden {
    display: none;
}

.content figure.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

/* Special class to make sure the image is fully visible when it sticks */
.content figure.sticky.fit .q-figure__wrapper {
    text-align: left;
}
.content figure.sticky.fit img {
    width: auto;
    max-height: 90vh;
    float: left;
}

.test-spacer {
    background-color: red;
    height: 200px;
    float: right;
}

.spacer {
    width: auto;
    clear: both;
}
.spacer-100 {
    width: auto;
    height: 1em;
    clear: both;
}
.spacer-200 {
    width: auto;
    height: 2em;
    clear: both;
}
.spacer-300 {
    width: auto;
    height: 3em;
    clear: both;
}

.padding-20 {
    padding: 20px;
}


/* Content Styles */


.quire-page__header__contributor .quire-contributor > * {
    display: block;
}

.quire-page__header__contributor .quire-contributor__affiliation,
.quire-page__header__contributor .quire-contributor__comma {
    display: none;
}
.quire-page__header__contributor {
    font-style: normal;
}
.quire-page__header__contributor .quire-contributor__name {
    font-size: 1.2rem;
    font-weight: bold;
}

.contributor {
    text-align: center;
}
.quire-page__content .container .content .contributor p {
    margin: 0;
    padding: 0;
    line-height: 1.2
}

.contributor-name {
    font-weight: bold;
}



.content figure:not(:first-child) {
    margin-top: 0;
}

.quire-figure {
    border-top: none;
    border-bottom: none;
    padding: 0;
}

/* Remove large quotation mark before quotes */
.quire-page__content .container .content blockquote p:first-child:before,
.quire-page__content .container .content blockquote ul:first-child:before,
.quire-page__content .container .content blockquote ol:first-child:before,
.quire-page__content .container .content blockquote dl:first-child:before,
.quire-page__content .container .content blockquote h1:first-child:before,
.quire-page__content .container .content blockquote h2:first-child:before,
.quire-page__content .container .content blockquote h3:first-child:before,
.quire-page__content .container .content blockquote h4:first-child:before,
.quire-page__content .container .content blockquote h5:first-child:before,
.quire-page__content .container .content blockquote h6:first-child:before {
    display: none;
}

.content p:not(:last-child), .content dl:not(:last-child),
.content ol:not(:last-child), .content ul:not(:last-child),
.content blockquote:not(:last-child), .content pre:not(:last-child),
.content table:not(:last-child) {
    margin-bottom: 1.4em;
}

.quire-contents-buttons {
    clear: both;
}


.quire-page__header.hero-image {
    margin-bottom: 60px !important;
    position: relative;
}
.quire-page__header.hero-image .hero-credit-icon:after {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: inline-block;
    content: "i";
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 1.2;
}
.quire-page__header.hero-image .hero-credit {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-size: .9rem;
    text-align: left;

    display: none;
}



/* Littlefoot footnotes */

.littlefoot {
    --button-font-size: .65rem !important;
    --popover-max-height: 15em !important;
    --popover-max-width: 90% !important;
}
.littlefoot__content {
    font-family: $montserrat !important;
}
.littlefoot__popover {
    z-index: 8 !important;
}
section.footnotes.littlefoot--print {
    border-top: 1px solid $off-black;
    margin-top: 4.375rem !important;
}
.footnotes hr {
    clear: both;
}

// Would love to use the littlefoot variables as intended,
// but the littlefoot javascript imports littlefoot.css
// from the vendor directory and overwrites them. Neat.
.quire-page__content .container .content .littlefoot {
    // Prevent footnotes from ending up on a different line than
    // the content that precedes them
    unicode-bidi: isolate;
    white-space: nowrap;

    .littlefoot__wrapper {
        white-space: wrap;
    }
}
.littlefoot__button {
    background-color: $accent-purple !important;
    color: $canvas !important;
    vertical-align: super !important;
    padding: 0.125rem 0.275rem !important;
    height: auto !important;
    line-height: 1.75;
    width: 1.4rem;
    --button-border-radius: 50% !important;
    white-space: nowrap;
}
.littlefoot__button:hover {
    background-color: $accent-orange !important;
    color: $off-white !important;
}

.footnotes.littlefoot--print,
.footnotes .littlefoot--print,
.footnotes.footnote-print-only,
.footnotes .footnote-print-only {
    display: block !important;
}
.footnotes li.littlefoot--print,
.footnotes li.footnote-print-only {
    list-style-type: decimal;
    display: list-item !important;
}
::marker {
    display: none;
}


/* Lightbox / Slides */
.q-lightbox-slides__element canvas-panel, 
.q-lightbox-slides__element img, 
.q-lightbox-slides__element image-service {
    height: calc(100% - 140px) !important;
}
/* .side-by-side .q-lightbox-slides__element canvas-panel, 
.side-by-side .q-lightbox-slides__element img, 
.side-by-side .q-lightbox-slides__element image-service {
    height: 100% !important;
} */


.audio-player-container {
    background-color: transparent;
}



.quire-page__header__contributor .quire-contributor__affiliation,
.quire-page__header__contributor .quire-contributor__comma {
    display: none;
}

.quire-contents-list .menu-list .section-item ol a,
.quire-contents-list .menu-list .section-item ol a:hover {
    border-bottom: none;
}



/* Menu */


.quire-menu .quire-menu__list.menu-list ol li.page-item:nth-child(n+5):nth-child(-n+9) {
    margin-left: 1.5rem;
}

.quire__secondary {
    .quire-menu {
        .menu-list {
            font-weight: 500;
        }
        .quire-menu__formats {
            h6 {
                font-weight:800;
            }
        }
    }
}

/* Entry pages */

main.quire-page.quire-entry .q-lightbox-slides__caption {
    display: none;
}

main.quire-page.quire-entry .quire-entry__content {
    -webkit-animation: none;
    animation: none;
}

/* Specific page styles */



/* Cover */
.quire-cover__hero-body {
  .container.is-fluid {
    min-width: 300px;

    img {
      width: 100%;
    }

  }

  .title {
    display: block;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
}

@media screen and (min-width: $tablet) {
  .quire-cover__hero-body {
    .container.is-fluid {
      max-width: 32rem;
      min-width: 22rem;
      padding: 4rem 6rem;
    }
  }
}

.page-cover .quire-cover__hero-body h1.title, .page-cover .quire-cover__hero-body .contributor {
    display: none;
}

/* Contents */

// .table-of-contents ol {
//     margin-left: 0 !important;
// }
// .table-of-contents .contributor-divider, .table-of-contents .contributor {
//     display: none;
// }

.page-contents .table-of-contents .subtitle {
    display: none;
}
.page-contents .quire-contents-list .menu-list a .arrow {
    display: none;
}
.page-contents .quire-contents-list .page-item.level-0:nth-child(n+4):nth-child(-n+8) {
    margin-left: 2rem;
}
.page-contents .quire-contents-list .page-item.level-0:nth-child(n+4):nth-child(-n+8) .contributor-divider,
.page-contents .quire-contents-list .page-item.level-0:nth-child(n+4):nth-child(-n+8) .contributor {
    display: none;
}
.page-contents .quire-contents-list .section-item.level-0 > ol.table-of-contents-list {
    display: none;
}


/* Chapters */

.quire-essay.chapter .quire-page__header.hero .quire-page__header__contributor {
    display: none;
}


/* Contributors */

// #page-contributors li.quire-contributor {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// #page-contributors .quire-contributor__bio {
//     margin-bottom: 1rem;
// }
// #page-contributors .media ul {
//     display: none;
//     padding-left: 2rem;
//     margin-bottom: 0px !important;
// }


/* Checklist / Works in the Exhibition */

// #page-works .quire-page__header,
// #page-works .quire:not(.no-js) .quire__primary main {
//     background-color: var(--dark-green);
// }
// #page-works .quire-contents-buttons {
//     background-color: var(--off-white);
// }
// #page-works .quire-page__header h1 {
//     color: #fff;
// }
// #page-works .quire-contents-list.grid .page-item,
// #page-works .quire-contents-list.grid ol li .card {
//     background-color: #fff;
// }
#page-works .quire-contents-list.grid ol li a {
    height: 100%;
}
#page-works .quire-contents-list.grid ol li .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-image:first-child img {
    border-radius: 0;
}

#page-works .quire-contents-list.grid .menu-list a:hover {
    border-radius: .25rem;
    box-shadow: 0 .375rem .875rem .375rem rgba(0,0,0,0.5);
    z-index: 10; // prevents neighboring card from occluding shadow
    figure.image {
        box-shadow: none;
    }
}

/* Tombstone */
.quire-entry__header .quire-page__header__title {
    display: none;
}
.quire-entry__tombstone .table {
    display: block;
    background-color: $off-white;
    color: $off-black;
    padding: 1.75rem;
    border-radius: 20px;
    line-height: 1.4;
}
.quire-entry__tombstone .table tbody {
    display: block;
}
.quire-entry__tombstone tr,
.quire-entry__tombstone tr td {
    display: block;
}
.quire-entry__tombstone tr td:first-child {
    display: none;
}
.quire-entry__tombstone tr td {
    padding: 0px 10px 10px;
}
.quire-entry__tombstone tr:hover {
    background-color: inherit;
    color: inherit;
}

.quire-entry__tombstone tr.artist-property td, 
.quire-entry__tombstone tr.title-property td {
    font-size: 1.4rem;
    line-height: 1;
    padding-bottom: 0px;
}
.quire-entry__tombstone tr.title-property td {
    font-weight: 700;
}

.quire-entry__tombstone tr.credit-property {
    font-size: 80%;
}
.quire-entry__tombstone tr.medium-property {
    margin-bottom: 0px;
}
.quire-entry {
    .quire-page__content {
        .container {
            .content {
                .footnotes {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

/* object label customization */
.bio-property {
    .artist-property {
        margin-top: .75em;
        span {
            display: block;
            margin: 0;
            padding: 0;
            font-size: 1.4rem;
            line-height: 1;
        }

        &.sub-property {
            margin-left: 1rem;
            span {
                font-size: 1.2rem;
            }
        }
    }
}
tr.title-property {
    margin-bottom: 1rem;
    .hide-title {
        display: none;
    }
}
tr.year-property, tr.medium-property{
    td {
        padding-bottom:0 !important;
    }
}
.multi-property td {
    padding-bottom: 0 !important;
    p {
        margin: 1em 0;
    }
    .obj-title {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1;
        margin-top: 1.2rem;
    }
    .summary + .summary {
        margin-top: 1.5em;
    }
    .credit-line {
        font-size: .875em;
        margin: 1em 0 1.75em;
    }
}

/* Timeline */
#page-timeline .quire-page__content .container .content ul li:before {
    display: none;
}

#page-timeline {
    .quire-page__content .container .content {
        h2 {
            font-size: 1.25em;
            font-weight: 700;
            text-transform: none;
            position: sticky;
            top: 4.375rem;
            background-color: $canvas;
            z-index: 5;
            padding: .5rem 0 .75rem;

            /* when clicking on anchors don't headbutt the sticky headers */
            scroll-margin-top: 3rem; 
            scroll-snap-margin-top: 3rem; // older safari
        }
        p {
            line-height: 2;
            margin-left: 3rem;

            & + h2 {
                margin-top: 2.5rem;
            }
        }
        .littlefoot__content {
            p {
                margin-left: 0;
            }
        }
        .timeline-toc {
            ul {
                list-style: square;
                margin: 0;
                padding: 1rem 2rem;

                li {
                    margin: .5rem 0;
                    padding: 0 0 0 .5rem;
                }
            }
        }
    }
}


/* Glossary */

#page-glossary .quire-page__header,
#page-glossary .quire-page__content:not(:nth-child(3)) {
    background-color: var(--dark-green);
    animation: fadeIn 2s;
}
#page-glossary .quire-page__content .container .content > p {
    margin-left: 1rem;
}
#page-glossary .quire-page__content .container .content {
    margin-top: 0px;
}
#page-glossary .alphabetical-index {
    position: -webkit-sticky; /* for browser compatibility */
    position: sticky;
    top: 4.375rem;
    background-color: var(--off-white);
    padding: 10px;
}
#page-glossary .alphabetical-index p {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
#page-glossary .alphabetical-index a {
    border-bottom: none;
}

#page-glossary .glossary-terms h3 {
    text-align: center;
}


/* About */
.logo-dam, .logo-scfd {
    svg {
        width: auto;
        height: 6rem;
    }
}


/* Search */
.quire-search {
    height: auto;
}
.quire-search__close-button {
    top: 12px;
}



@media screen and (min-width: $desktop) {

    .side-by-side .quire-entry__lightbox {
        top: 4.375rem;
        width: calc(56% - 8px);
        height: calc(100vh - 50px);
    }
    
    .quire-page__header .hero-body {
        margin: 0 14rem;
    }

}

@media screen and (max-width: 50.25rem) {

    .quire-navbar-controls__left {
        flex: 0 0 130px;
    }
    .quire-navbar-controls__right {
        flex: 0 0 130px;
    }

    .quire-navbar-page-controls__item,
    .quire-navbar-page-controls__item a {
        padding: 0px !important;
    }

    .quire-navbar-page-controls__item.quire-previous-page,
    .quire-navbar-page-controls__item.quire-next-page {
        min-width: auto;
    }
    .quire-navbar-page-controls__item.quire-previous-page a span.nav-text,
    .quire-navbar-page-controls__item.quire-next-page a span.nav-text {
        display: none;
    }

    .quire-navbar-button.menu-button .is-hidden-touch,
    .quire-navbar-button.search-button  .is-hidden-touch {
        display: none;
    }

    .quire-navbar svg {
        max-height: 1.4rem;
        max-width: 1.4rem;
    }

}


/**
 * Print Styles for PDF
*/

@media print {
    body, .quire-page, .quire-page__content, .quire-page__content .content {
        background-color: $white !important;
    }
    .quire-page.frontmatter.quire-cover .quire-cover__more,
    .quire-page.frontmatter.quire-cover .section.quire-page__content {
        display: none;
    }
    // video {
    //   display: none;
    // }

    #page-checklist .quire-contents-list {
        display: none;
    }
    // .quire-entry div.side-by-side {
    //     display: flex;
    //     flex-direction: row;
    // }
    // .quire-entry div.side-by-side div.quire-entry__image-wrap {
    //     width: 100%;
    //     height: 40vh !important;
    //     display: flex;
    //     flex-direction: row;
    // }
    // .quire-entry div.side-by-side div.quire-entry__image-wrap figure {
    // }
    // .quire-entry div.side-by-side div.quire-entry__content {
    //     width: 100% !important;
    //     padding: 0 20px;
    // }

    pre {
        background-color: transparent;
    }

    .quire-contents-list .page-item,
    .quire-contents-list .section-item > a {
        max-width: 100%;
    }

    .quire-contents-list .menu-list .section-item ol li.level-1.section-item > a {
        font-size: 1rem;
    }
    
    .quire-entry__image-wrap .q-figure > :first-child {
        object-fit: cover;
    }
    .quire-splash .quire-page__header.hero-image + .quire-page__content p:first-child, 
    .quire-splash .quire-page__header.hero-image + .quire-page__content figure:first-child {
        padding-top: 0;
    }

    .quire-page.quire-essay .hero, .quire-page.quire-essay .hero-image {
        width: 100%;
        height: 100vh;
    }
    .quire-entry div.side-by-side div.quire-entry__content {
        // overflow: scroll;
        width: 100%;
        height: 100vh; /*calc((100vh - 3rem - 2px)* 0.55 - 16px);*/
    }

    .quire-entry__tombstone .table {
        background-color: $white;
    }


    .quire-contents-list.grid .menu-list ol .page-item {
        background-color: transparent;
    }
    .quire-contents-list.grid .menu-list ol .page-item * {
        margin: 0 auto;
    }
    .quire-contents-list.grid .menu-list ol .page-item a::after {
        display: none;
    }

}